%div
  .jumbotron.text-center
    %h1.display-4= 'WizUrl'
    %p.lead.text-muted= 'An URL shortener'

  .container
    .row
      .col-sm-12
        = render 'form', link_form: @link_form
    .row.mt-5
      .col-sm-12
        .table-responsive
          = render 'links_table', links: @links
  
  = render 'shared/errors'

