.container
  .card.mt-3.mb-4.box-shadow
    .card-header.text-center
      %h4.my-0.font-weight-normal= 'Graph click by minute for one hour'
    .card-body
      %ul.list-unstyled.mt-3.mb-4
        %li
          %span.font-weight-bold= 'Original URL:' 
          = link_to @graph_link_presenter.link.url, @graph_link_presenter.link.url, target: :_blank, rel: 'noopener'
        %li
          %span.font-weight-bold= 'Shortened URL:' 
          = link_to @graph_link_presenter.link.short, @graph_link_presenter.link.short, target: :_blank, rel: 'noopener'
      .row.align-items-center.mt-5
        .col-12
          = column_chart @graph_link_presenter.build_full_range, @graph_link_presenter.properties

      
      .row.justify-content-between.align-items-center.mt-5
        .col-sm-6
          = link_to 'Back to homepage', root_path
        .col-sm-6
          = render 'form', link: @link
  
    
